# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log

# node-waf configuration
.lock-wscript

# Editor
.idea

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

dist