.f-cb:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
}

.f-cb {
    *zoom: 1;
}

.manager {
	padding: 20px;
}

h1 {
  color: #113285;
  text-align: center;
}